{% extends 'base.html' %}
{% block title %}Amigo Pescador{% endblock %}
{% load static %}
{% block main %}
    <h1>
        Tem certeza que deseja deletar os {{ fisherman.fish_amount }} peixes da espécie {{ fisherman.fish_species }}
        pescados por {{ fisherman.fisherman }}?
    </h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirmar</button>
        <a href="{% url 'rankings' %}" class="btn btn-outline-danger">Cancelar</a>
    </form>
{% endblock %}