{% extends 'base.html' %}
{% block title %}Amigo Pescador{% endblock %}
{% load static %}
{% block main %}
    <a href="{% url 'home' %}" class="btn btn-light">
        <svg width="1em" height="1em" viewBox="0 0 16 16"
             class="bi bi-house-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2
                  13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8
                  2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
    </a>

    <ul>
        {% for fishing in fishing_info %}
            <li>
                {{ fishing.fisherman_name }} - com {{ fishing.immediate }}, {{ fishing.pilot }},
                {{ fishing.friend }} - {{ fishing.fishing_day }} às {{ fishing.fishing_hour }}hrs
                em {{ fishing.localization }}
                <a href="{% url 'atualiza_pescaria' fishing.id %}" class="btn btn-outline-primary">Atualizar</a>

                <a href="{% url 'deleta_pescaria' fishing.id %}" class="btn btn-danger">
                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                         class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2
                        2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1
                        1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5
                        0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'nova_pescaria' %}" class="btn btn-primary">Nova pescaria</a>
{% endblock %}