{% extends 'base.html' %}
{% block title %}Amigo Pescador{% endblock %}
{% load bootstrap %}
{% load static %}
{% block main %}
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Dados da pescaria</legend>
                    {% csrf_token %}
                    <div class="input-block">
                        {{ form|bootstrap }}
                    </div>
                    <div class="row buttons">
                        <a href="{% url 'informacoes_pescaria' %}" class="btn btn-light">Voltar</a>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}