{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons_form.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="container" style="font-family: Nunito;">
        <div class="jumbotron" style="background-color: #E0FFFF;">
            {% block main %}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
    {% endblock %}

</body>
</html>